.list {
  display: inline-block;
  list-style-type: none;
}
.lis-cont {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: gray;
  border: none;
  border-radius: 15px;
  margin: 10px;
}
.profile-img {
  height: 300px;
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.name {
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  color: darkgoldenrod;
  font-size: 20px;
}
.char-name{
  margin-left: 10px;
  margin-right: 10px;
}